<div class="nav-container mb-3">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
    <!--   <div class="navbar-brand logo"></div> -->
      <img
      class="mb-3 app-logo"
      src="assets\img\pizza-logo.png"
      alt="Angular logo"
      width="120"
    />
      <app-main-nav></app-main-nav>
      <app-login-button
       *ngIf="(auth.isAuthenticated$ | async) === false"
       ></app-login-button>
       <app-logout-button
       *ngIf="(auth.isAuthenticated$ | async)"
       ></app-logout-button>
    </div>
  </nav>
</div>
